{% extends "base.html" %}
{% load static %}

{% block main %}
<h1>社員紹介</h1>

<h2>社長：ODR</h2>
<img src="{% static 'odori1.jpg' %}" />
<h3>好きなこと：野球観戦</h3>
<h5>出身</h5>
<ul>
    <li>中学校</li>
    <li>高校</li>
    <li>大学（在籍）</li>
</ul>

<h2>財務責任者：OREO</h2>
<img src="{% static 'reo1.jpg' %}" />
<h3>万年金欠</h3>
<h5>出身</h5>
<ul>
    <li>中学校</li>
    <li>高校</li>
    <li>大学(在籍）</li>
</ul>


<h2>企画運営責任者：SOYA</h2>
<img src="{% static 'soya1.jpg' %}" />
<h3>好きなこと：バンド</h3>
<h5>出身</h5>
<ul>
    <li>中学校</li>
    <li>高校</li>
    <li>大学(在籍）</li>
</ul>


{% endblock %}